<div class="page-header">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1><%= @curriculum.title %> <br> <small><%= @curriculum.description %></small> <br> <small>Created by: <%= @curriculum.user.username %></small></h1>
      <% if current_user.id == @curriculum.user_id %>
        <%= link_to "Edit Curriculum", edit_curriculum_path(@curriculum), class: 'btn btn-warning pull-left' %>
        <%= link_to "Delete Curriculum", @curriculum, method: :delete, class: 'btn btn-danger pull-right', data: {alert: "Are you sure?"} %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <%= link_to "Add Post", new_curriculum_post_path(@curriculum),class: 'btn btn-success' %>
  </div>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="panel col-md-8 col-md-offset-2">
        <%= post.order_number %>
        <%= link_to post.title, post.url %>
        <%= post.description %>
      </div>
    <% end %>
  </div>
  
</div>