<div class="page-header">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1><%= @curriculum.title %> <br> <small><%= @curriculum.description %> <br> Created by: <%= @curriculum.user.username %> <br> 
        Languages: <% @curriculum.languages.each do |x| %> <%= link_to x.name, x %> &nbsp; <% end %>

      </small></h1>
      <% if current_user %>
        <% if current_user.id == @curriculum.user_id %>
          <%= link_to "Edit Curriculum", edit_curriculum_path(@curriculum), class: 'btn btn-warning pull-left' %>
          <%= link_to "Delete Curriculum", @curriculum, method: :delete, class: 'btn btn-danger pull-right', data: {confirm: "Are you sure?"} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <% if current_user %>
    <% if current_user.id == @curriculum.user_id %>
      <div class="row">
        <%= link_to "Add Post", new_curriculum_post_path(@curriculum),class: 'btn btn-success pull-left' %>
      </div>
    <% end %>
  <% end %>
    <% if !current_user %>
      <%= link_to "Review Curriculum", new_curriculum_review_path(@curriculum), class: 'btn btn-info pull-right' %>
    <% end %>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="panel col-md-8 col-md-offset-2">
        <h3><%= post.position %>. <%= link_to post.title, post.url %></h3>
        
        <p><%= post.cost %></p>
        <p><%= post.description %></p>
        <br>
        <% if current_user.id == @curriculum.user_id %>
          <%= link_to edit_post_path(post), class: 'btn btn-warning btn-sm ' do %>
            <span class="glyphicon glyphicon-pencil"> Edit</span>
          <% end %>
          <%= link_to post, method: :delete, class: 'btn btn-danger btn-sm ', data: {alert: "Are you sure?"} do %>
            <span class="glyphicon glyphicon-remove"> Delete</span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  
</div>