<div class="container">
  <div class="row">
    <%= form_tag languages_path, :method => 'get', :enforce_utf8 => false, class: 'form-inline' do %>
      <div class="form-group">
        <%= label_tag(:search, "Search for Language: ") %>
        <%= text_field_tag :search, params[:search], class:'form-control', placeholder:'Search Language', autofocus: true %>
      </div>
        <%= submit_tag "Search", :name => nil, class:'btn btn-default' %>
    <% end %>
  </div>
  <div class="row">
    <% if user_signed_in? %>
      <%= link_to 'Create Curriculum', new_curriculum_path, class: 'btn btn-info pull-left'%>
      <%= link_to "Add Course", new_course_path, class: 'btn btn-primary pull-right' %>
    <% end %>
  </div>
  <div class="row">
      <% @languages.each do |x| %>
      <div class="panel text-center col-xs-12 col-sm-6 col-md-4 col-lg-3 col-md-offset-1">
        <h3><%= link_to x.name, x %></h3>
      </div>
      <% end %>
  </div>
</div>