<div class="page-header">
  <h1><%= @language.name %> Courses</h1>
</div>
<div class="container">
  <div class="row">
    <% if user_signed_in? %>
    <%= link_to "Add Course", new_course_path, class: 'btn btn-primary pull-right' %>
    <%= link_to 'Create Curriculum', new_curriculum_path, class: 'btn btn-info pull-left'%>
    <% end %>
  </div>

  <div class="row">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#courses">Courses <span class="badge"><%= @courses.length %></a></li>
      <li><a data-toggle="tab" href="#curriculums">Curriculums <span class="badge"><%= @curriculums.length %></a></li>
    </ul>

    <div class="tab-content">
      <div id="courses" class="tab-pane fade in active">
        <div class="row">
          <div class="col-lg-10 col-md-offset-1">
            <button class="btn btn-info pull-left" data-toggle="collapse" data-target="#courseFilters" aria-expanded="false" aria-controls="courseFilters">Filters</button>
            
            <%= form_tag "/languages/#{@language.id}/course_sorted", :method => 'get', :enforce_utf8 => false, class: 'form-inline pull-right' do %>
              <div class="form-group">
                <%= select_tag(:organize, options_for_select([ ['Highest Rated', 'average_rating DESC'], ['Lowest Rated', 'average_rating ASC'], ['Most Recent', 'course_created DESC'], ['Most Reviewed', 'review_count DESC']], params[:organize]),class: 'form-control')%>
              </div>
                <%= submit_tag "Sort", :name => nil, class:'btn btn-default' %>
            <% end %>
          </div>
        </div>
          <div id="courseFilters" class="collapse col-md-offset-1">
            <%= form_tag "/languages/#{@language.id}/course_sorted", :method => 'get', :enforce_utf8 => false, class: 'form-inline' do %>
              <div class="form-group">
                <%= label_tag(:cost, 'Cost: ')%>
                <%= radio_button_tag(:cost, "Free")%>
                <%= label_tag(:cost_free, "Free")%>
                <%= radio_button_tag(:cost, "Paid") %>
                <%= label_tag(:cost_paid, "Paid")%>
              </div> 
              <div class="form-group">
                <%= label_tag(:skill_level, 'Skill Level: ')%>
                <%= select_tag(:skill_level, options_for_select([['All', ''],['Beginner', 'Beginner'], ['Intermediate','Intermediate'],['Advanced','Advanced']]),class: 'form-control')%>
              </div> 
              <div class="form-group">
                <%= label_tag(:rating, 'Rating: ')%>
                <%= select_tag(:rating, options_for_select([ ['1 star+', 0], ['2 stars+', 2], ['3 stars+', 3], ['4 stars+', 4], ['5 stars', 5]]),class: 'form-control')%>
              </div>
              <div class="form-group">
                <%= label_tag(:organize, 'Sort: ')%>
                <%= select_tag(:organize, options_for_select([ ['Highest Rated', 'average_rating DESC'], ['Lowest Rated', 'average_rating ASC'], ['Most Recent', 'course_created DESC'], ['Most Reviewed', 'review_count DESC']]),class: 'form-control')%>
              </div>
                <%= submit_tag "Filter", :name => nil, class:'btn btn-default' %>
            <% end %>
          </div>
        <!-- </div> -->
        <div class="row">
          <% if @courses.length > 0 %>
            <% @courses.each do |x| %>
              <div class="panel col-md-8 col-md-offset-2">
                <%= link_to x.name, x %>
              </div>
            <% end %>
          <% else %>
            <h3>No Courses Posted</h3>
          <% end %>
        </div>
      </div>
      <div id="curriculums" class="tab-pane fade">
        <% if @curriculums.length > 0 %>
          <% @curriculums.each do |x| %>
          <div class="panel col-md-8 col-md-offset-2">
            <h3><%= link_to x.title, x %></h3>
            <p><%= x.description %></p>
          </div>
          <% end %>
        <% else %>
          <h3>No Available Curriculums</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>
