<div class="row">
  <div class="col-lg-10 col-md-offset-1">
    <button class="btn btn-info pull-left" data-toggle="collapse" data-target="#courseFilters" aria-expanded="false" aria-controls="courseFilters">Filters</button>
    
    <%= form_tag "/languages/#{language.id}/course_sorted", :method => 'get', :enforce_utf8 => false, class: 'form-inline pull-right' do %>
      <div class="form-group">
      <%= label_tag(:organize, "Sort by: ")%>
        <%= select_tag(:organize, options_for_select([ ['Highest Rated', 'average_rating DESC'], ['Lowest Rated', 'average_rating ASC'], ['Most Recent', 'course_created DESC'], ['Most Reviewed', 'review_count DESC'], ['Alphabetical', 'lower(title)']], params[:organize]),{class: 'form-control', onchange: "form.submit()" })%>
      </div>
    <% end %>
  </div>
</div>
<!-- Collapsed Filter options -->
<div id="courseFilters" class="collapse col-md-offset-1">
  <%= form_tag "/languages/#{language.id}/course_sorted", :method => 'get', :enforce_utf8 => false, class: 'form-inline' do %>
    <div class="form-group">
      <%= label_tag(:cost, 'Cost: ')%>
      <%= radio_button_tag(:cost, "Free")%>
      <%= label_tag(:cost_free, "Free")%>
      <%= radio_button_tag(:cost, "Paid") %>
      <%= label_tag(:cost_paid, "Paid")%>
    </div> 
    <div class="form-group">
      <%= label_tag(:skill_level, 'Skill Level: ')%>
      <%= select_tag(:skill_level, options_for_select([['All', ''],['Beginner', 'Beginner'], ['Intermediate','Intermediate'],['Advanced','Advanced']]),class: 'form-control')%>
    </div> 
    <div class="form-group">
      <%= label_tag(:rating, 'Rating: ')%>
      <%= select_tag(:rating, options_for_select([ ['1 star+', 0], ['2 stars+', 2], ['3 stars+', 3], ['4 stars+', 4], ['5 stars', 5]]),class: 'form-control')%>
    </div>
    <div class="form-group">
      <%= label_tag(:organize, 'Sort: ')%>
      <%= select_tag(:organize, options_for_select([ ['Highest Rated', 'average_rating DESC'], ['Lowest Rated', 'average_rating ASC'], ['Most Recent', 'course_created DESC'], ['Most Reviewed', 'review_count DESC'], ['Alphabetical', 'lower(title)']]),class: 'form-control')%>
    </div>
      <%= submit_tag "Filter", :name => nil, class:'btn btn-warning' %>
  <% end %>
</div>