<div class="page-header">
	<h1 class="text-center">Search Results for: <em><%= params[:keyword_search]%></em></h1>
</div>

<div class="container">
	<div class="row">
	  <ul class="nav nav-pills">
	  	<% if @tab_courses %>
	    	<li class="active"><a data-toggle="pill" href="#courses">Courses <span class="badge"><%= @courses.count %></span></a></li>
	    <% else %>
	    	<li><a data-toggle="pill" href="#courses">Courses <span class="badge"><%= @courses.count %></span></a></li>
	    <% end %>
	    <% if @tab_curriculums %>
				<li class="active"><a data-toggle="pill" href="#curriculums">Curriculums <span class="badge"><%= @curriculums.count %></span></a></li>
	    <% else %>
	    	<li><a data-toggle="pill" href="#curriculums">Curriculums <span class="badge"><%= @curriculums.count %></span></a></li>
	    <% end %>
	    <% if @tab_languages %>
	    	<li class="active"><a data-toggle="pill" href="#languages">Subjects <span class="badge"><%= @languages.count %></span></a></li>
	    <% else %>
	    	<li><a data-toggle="pill" href="#languages">Subjects <span class="badge"><%= @languages.count %></span></a></li>
	    <% end %>
	  </ul>

	  <div class="tab-content">
	  	<!-- Course panel content -->
	  	<% if @tab_courses %>
	    	<div id="courses" class="tab-pane fade in active">
	    <% else %>
				<div id="courses" class="tab-pane fade">
			<% end %>
	    	<!-- Filters and Sort -->
	    	<%= render partial: 'shared/course_search_filters', locals: {language: @language} %>
	    	<!-- Courses -->
	      <% if @courses.count > 0 %>
	        <% @courses.each do |x| %>
                <div class="panel col-md-10 col-md-offset-1">
                  <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                      <h3 class="pull-left"><%= link_to x.name, x %> 
                      <% if x.cost == "Free" %> 
                        <small><span class="label label-success label-sm">Free</span></small>
                      <% end %>
                        <br> 
                        <% if x.course_created %>
                          <small>released: <%= x.course_created.strftime("%m/%d/%Y") %></small>
                        <% else %>
                          <small>posted: <%= time_ago_in_words(r.created_at) %></small>
                        <% end %>
                      </h3>
                      <h5 class="pull-right">Average Rating: <span class="star-rating" data-score=<%= x.average_rating %>></span> <br> <small><%= pluralize(x.review_count, "Review") %></small></h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2 col-md-offset-1">
                      <p><strong>Skill Level:</strong> <%= x.skill_level %></p>
                    </div>
                    <div class="col-md-8">
                      <p><strong>Course Description: </strong>  <%= x.description %></p>
                    </div>
                  </div>
                </div>
              <% end %>
	      <% else %>
	        <h3>No Matching Courses</h3>
	      <% end %>
	    </div>
	    <!-- Curriculum content -->
	    <% if @tab_curriculums %>
	    	<div id="curriculums" class="tab-pane fade in active">
	    <% else %>
	    	<div id="curriculums" class="tab-pane fade">
	    <% end %>
	    <%= render partial: 'shared/curriculum_search_filters', locals: {language: @language} %>
	      <% if @curriculums.count > 0 %>
	        <% @curriculums.each do |x| %>
            <div class="panel col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <h3 class="pull-left"><%= link_to x.name, x %> 
                    <br>
                    <small>posted <%= time_ago_in_words(x.created_at) %> ago </small>
                  </h3>
                  <h5 class="pull-right">Average Rating: <span class="star-rating" data-score=<%= x.average_rating %>></span> <br> <small><%= pluralize(x.review_count, "Review") %></small></h5>
                </div>
              </div>
              <div class="row">
                
                <div class="col-md-10 col-md-offset-1">
                  <p><strong>Curriculum Description: </strong>  <%= x.description %></p>
                </div>
              </div>
            </div>
	        <% end %>
	      <% else %>
	        <h3>No Matching Curriculums</h3>
	      <% end %>
	    </div>
	    <!-- Language content -->
	    <% if @tab_languages %>
	    	<div id="languages" class="tab-pane fade in active">
	    <% else %>
				<div id="languages" class="tab-pane fade">
			<% end %>
	      <% if @languages.count > 0 %>
	        <% @languages.each do |x| %>
	        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	          <div class="panel language text-center col-md-10 col-md-offset-1">
	            <h3><%= link_to x.name, x %></h3>
	          </div>
	        </div>
	        <% end %>
	      <% else %>
	        <h3>No Matching Languages</h3>
	      <% end %>
	    </div>
	  </div>
	</div>
</div>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    halfShow: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>