<% if @course.errors.any? %>
  <div id="error_explanation" class="container">
    <div class="alert alert-danger">
      <p>
        <%= pluralize(@course.errors.count, "error") %> prohibited
        this course from being saved:
      </p>
      <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<div class="jumbotron">
  <div class="container">
    <%= bootstrap_form_for @course do |f| %>
      <%= f.text_field :name %>
      <%= f.text_area :description %>
      <%= f.text_field :cost, prepend: '$' %>
      <%= f.text_field :skill_level %>
      <%= f.url_field :url %>
      <%= f.date_field :course_created %>
      <%= f.collection_check_boxes :language_ids, @languages, :id, :name, label: "Languages" %>
      <%= f.primary %>
      <%= link_to "Cancel", :back, class: 'btn btn-danger pull-right' %>
    <% end %>

    <!-- <%= form_for @course do |f| %>
      <div class="form-group">
        <%= f.label "Name"%>
        <%= f.text_field :name, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label "Description"%> 
        <%= f.text_area :description, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label "Cost"%>
        <%= f.text_field :cost, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label "Skill Level"%>
        <%= f.text_field :skill_level, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label "Course URL"%>
        <%= f.text_field :url, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label "Course Created Date"%>
        <%= f.text_field :course_created, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :languages, class:"col-md-2"  %>
        <div class="form-group">
          <%= f.collection_check_boxes(:language_ids, @languages, :id, :name) do |b| %>
              <span class="language-selection">
                  <%= b.check_box %>
                  <%= b.label %>
              </span>
          <% end %>
        </div>
      </div>
      <%= f.submit class: 'btn btn-warning'%>
    <% end %>
    -->
  </div>
</div>