<div class="page-header">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center"><%= @course.name %> <br> <small><%= @course.description %></small></h1>
      <br>
      <% if user_signed_in? %>
        <% if current_user.id == @course.user_id %>
          <%= link_to "Edit Course", edit_course_path(@course), class: 'btn btn-warning pull-left' %>
          <%= link_to "Delete Course", @course, method: :delete, class: 'btn btn-danger pull-right', data: {confirm: "Are you sure?"} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <%if @course.course_created? %>
      <p>Course created: <%= @course.course_created.strftime("%m/%d/%Y") %></p>
    <% end %>
    <p>Cost: <%= @course.cost %></p>
    <p>Skill Level: <%= @course.skill_level %></p>
    <% if @course.average_rating? %>
      <p>Average Rating: &nbsp; <span class="star-rating" data-score=<%= @course.average_rating %>></span> <%= pluralize(@course.reviews.count, "review") %></p>
    <% end %>
    <p>Languages: <% @course.languages.each do |x| %> <%= link_to x.name, x %> &nbsp; <% end %></p>
    <p><%= link_to "Take Course Here", @course.url, target: "_blank" %></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <%= link_to "Review Course", new_course_review_path(@course), class: 'btn btn-success' %>
  </div>
  <div class="row">
    <% @course.reviews.each do |r| %>
      <div class="panel col-md-8 col-md-offset-2" >
        <div class="row">
          <% if r.title? || r.review_body? %>
            <% if r.title? %>
              <h4><strong>Title:</strong> <%= r.title%> <small><%= time_ago_in_words(r.created_at) %> ago<br> by <strong><%= link_to r.user.username, r.user %></strong></small></h4>
            <% end %>
            <div class="star-rating" data-score=<%= r.rating %>></div>
            <!-- <p><strong>Rating:</strong> <%= r.rating %></p> -->
            <% if r.review_body? %>
              <p><strong>Review:</strong> <%= r.review_body%></p>
            <% end %>
          <% else %>
            <p><strong><%= link_to r.user.username, r.user %></strong> gave it a <div class="star-rating" data-score=<%= r.rating %>></div> <small><%= time_ago_in_words(r.created_at) %> ago</small></p>
          <% end %>
        </div>
        <br>
        <% if r.user_id == current_user.id %>
          <div class="row">
            <%= link_to "Edit Review", edit_review_path(r), class: 'btn btn-warning btn-sm' %>
            <%= link_to "Delete Review", r, method: :delete, class: 'btn btn-danger btn-sm', data: {alert: "Are you sure?"} %>
          </div>
          <br>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    halfShow: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>