<% if @post.errors.any? %>
  <div id="error_explanation" class="container">
    <div class="alert alert-danger">
      <p>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:
      </p>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<div class="jumbotron">
  <div class="container">
    <%= bootstrap_form_for [@curriculum, @post] do |f| %>
      <%= f.text_field :title %>
      <%= f.number_field :position, label: "Course Order Number" %>
      <%= f.text_area :description %>
      <%= f.form_group :cost, label: { text: 'Course Cost'} do %>
        <%= f.radio_button :cost, 'Free', label: "Free", inline: true %>
        <%= f.radio_button :cost, 'Paid', label: "Paid", inline: true %>
      <% end %>
      <%= f.url_field :url %>
      <%= f.primary %>
      <%= link_to "Cancel", :back, class: 'btn btn-danger pull-right' %>
    <% end %>
  <!--
    <%= form_for [@curriculum, @post] do |f| %>
      <div class="form-group">
        <%= f.label "Title"%>
        <%= f.text_field :title, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label "Order"%> 
        <%= f.number_field :position, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label "Description"%>
        <%= f.text_area :description, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label "Course URL"%>
        <%= f.text_field :url, class: "form-control"%>
      </div>
      <%= f.submit class: 'btn btn-warning'%>
    <% end %>
    -->
  </div>
</div>