<!DOCTYPE html>
<html>
<head>
  <title>EducateU</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= include_uploadcare_widget_from_cdn version: "1.5.5", min: true %>
  
  <script>
    UPLOADCARE_PUBLIC_KEY = "aa46cd44fdf3fcd38d5c";
  </script>
</head>
<body>
  <nav class="navbar navbar-default">
      <div class="container-fluid">
    <!-- <div class="container-fluid"> -->
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "educateU", root_path, class: "navbar-brand" %>
        <!-- <a href="#" class="navbar-brand">educateU</a> -->
          <% if user_signed_in? %>
            <p class="navbar-text">User logged in: <strong><%= current_user.username %></strong></p>
          <% end %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Home', root_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to 'Profile', current_user %></li>
          <% end %>
          <%= form_tag searches_path, :method => 'get', :enforce_utf8 => false, class:'navbar-form navbar-left' do %>
            <div class="form-group">
              <%= text_field_tag :keyword_search, params[:keyword_search], keyword_search: params[:keyword_search], class:'form-control', required: true, placeholder:'Search keyword' %>
            </div>
          <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'About', about_path, :class => 'navbar-link' %></li>
          <% if user_signed_in? %>
            <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
            <li><%= link_to 'Login', new_user_session_path, :class => 'navbar-link' %></li>
          <% end %>

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
    
  <%= flash_messages %>

<%= yield %>

</body>
</html>
